html {
    min-height: 100%;
    position: relative;
}

body {
    font-size: 70px;
    width: 100%;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 10px;
    font-size: 80px;
    color: darkslateblue;
    font-family: 'Risque', cursive;
    margin-bottom: 30px;
}

.mainContainer {
    width: 90%;
    height: auto;
    margin-bottom: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    clear: both;
    color: black;
    height: 30px;
    font-size: 15px;
}

#randomNumber,
#crystalScore {
    color: black;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
}

.words {
    color: black;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
}

.crystal {
    width: 100px;
    height: 100px;
}

#correctSound,
#wrongSound,
#backgroundSound {
    display: none;
}

#tableHeader {
    padding: 5px;
    text-align: center;
    background-color: black;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color: white;
}

.tableContent {
    font-size: 20px;
    color: black;
}

table {
    margin-top: 40px;
    margin-bottom: 20px;
    overflow-x: auto;
    width: 100%;
}


/* media queries */

@media screen and (max-width:768px) {
    header {
        font-size: 40px;
    }
}

@media screen and (max-width:640px) {
    body {
        font-size: 15px;
    }
    header {
        font-size: 40px;
    }
    footer {
        font-size: 10px;
        height: 20px;
    }
    #tableHeader,
    .tableContent,
    span,
    randomNumber,
    crystalScore {
        font-size: 10px;
    }
}